@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@import "tailwindcss";

:root {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home-container {
  width: 100dvw;
  min-width: 100dvw;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

.wrapper, .headlines {
  width: 100%;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .wrapper, .headlines {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper, .headlines {
    padding: 0 4rem;
  }
}

/****
  HEADER
****/

#header-container  {
  position: absolute;
  display: flex;
  align-items: center;
  height: 6em;
  width: 100%;
  z-index: 1;
}


#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header-logo {
  width: 2.25em;
}

#nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5em;
  height: .75em;
  cursor: pointer;
}

.burger-lines {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
}

#header-cart-icon {
  font-size: 1.25em;
  color: white;
}

@media screen and (min-width: 768px) {
  #header-container {
    height: 8em;
  }

  #header-logo {
    width: 3.25em;
  }

  #nav-burger {
    width: 1.75em;
    height: 1em;
  }

  #header-cart-icon {
    font-size: 1.75em;
  }
}

/****
  HERO
****/

#hero {
  height: 95dvh;
  background-image: url("/images/sav-sonia-dark.jpeg");
  background-size: cover;
  background-position: top 60% right 60%;
  z-index: -1;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 95dvh;
  width: 100%;
  background-color:rgb(0, 0, 0);
  opacity: .25;
}

@media screen and (min-width: 1024px) {
  #hero {
    background-position: top 30% right 60%;
  }
}


/****
  HEADLINE
****/

#headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  height: fit-content;
}

#headline-title {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 2rem;
}

#headline-image-carousel {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: start;
  height: 80%;
  width: 110%;
  left: -5%;
}

.headline-image-container {
  height: 100%;
}

.headline-images {
  object-fit: cover;
  height: 100%;
}

#middle-image {
  position: relative;
  width: 75%;
}

#next-side-image, #prev-side-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 85%;
  width: 10%;
  opacity: .875;
}

#next-side-image {
  right: 0;
}

#prev-side-image {
  left: 0;
}

.headline-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 10%;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#next-image-button {
  right: 5%;
}

#prev-image-button {
  left: 5%;
}

@media screen and (min-width: 768px) {
  #headline-title {
    font-size: 2.25rem;
  }

  #headline-image-carousel {
    height: 70%;
    left: -5%;
  }

  .headline-image-container {
    height: 100%;
  }

  .headline-images {
    object-position: center;
  }

  #middle-image {
    width: 50%;
  }

  #next-side-image, #prev-side-image {
    height: 85%;
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  #headline {
    height: 100dvh;
    width: 100dvw;
  }

  #headline-wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  #headline-image-carousel {
    height: 80%;
    left: -5%;
  }

  .headline-image-container {
    height: 100%;
  }

  .headline-images {
    object-position: center 25%;
  }

  #middle-image {
    width: 40%;
  }

  #next-side-image, #prev-side-image {
    height: 85%;
    width: 25%;
  }
}


/****
  PRODUCT
****/
#product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  height: fit-content;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
}

.product-image-container, 
.product-info-container {
  width: 80%;
}

.product-image-container {
  position: relative;
  aspect-ratio: 1/1;
}

.product-images {
  object-fit: cover;
  object-position: center 40%;
  width: 100%;
}

.product-info-container {
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .product-title {
    font-size: 2rem;
  }

  .product-image-container, 
  .product-info-container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .product-image-container, 
  .product-info-container {
    width: 40%;
  }
}


/****
  FOOTER
****/

footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 6rem;
  min-height: fit-content;
  width: 100%;
  color: white;
  background-color: black;
}

footer p {
  font-size: .675rem;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.footer-logo-image {
  width: 2.25rem;
  height: auto;
}

.social-media-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .25rem;
  width: 17.5%;
}

.social-media-icon {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer {
    height: 8rem;
  }

  footer p {
    font-size: 1rem;
  }

  .footer-logo-image {
    width: 3.25rem;
  }

  .social-media-container {
    gap: .5rem;
  }

  .social-media-icon {
    font-size: 1.75rem;
  }
}